<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <a href="{{ url_for('create_product') }}">Crear Nuevo Producto</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Código de Barras</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product[0] }}</td>
                    <td>{{ product[1] }}</td>
                    <td>{{ product[2] }}</td>
                    <td>{{ product[3] }}</td>
                    <td>{{ product[4] }}</td>
                    <td><img src="{{ url_for('static', filename='img/faces/' + product[5]) }}" alt="{{ product[1] }}" width="50"></td>
                    <td>
                        <a href="{{ url_for('edit_product', product_id=product[0]) }}">Editar</a>
                        <form action="{{ url_for('delete_product', product_id=product[0]) }}" method="POST" style="display:inline;">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>